//Breakpoints
$br--sm: 576px;
$br--md: 768px;
$br--lg: 992px;

//768 - iphone4 portrait
//960 - iphone4 landscape
//768 - ipad portrait
//1024 - ipad landscape
//1280 - macbook air
//1366 - many laptops
//1440 - macbook pro 15inch